<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMORE for eLabFTW</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='flash.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Flask flash pop-ups -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        {{ message }}
                        <span class="close-btn" onclick="this.parentElement.remove()">×</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="form-container">
    <div class="home-grid" style="gap: 2rem;">
        <div class="home-column">
            <div class="title-box">
                <a title="Refresh page" href="/"><h1>AMORE for eLabFTW</h1></a>
                <p align="center"><b>Autonomous Management of Outputs<br>for Research Efficiency</b></p>
            </div>
            <div class="title-box">
                <p align="center">Authenticated as <u>{{ user }}</u></p>
            </div>
        </div>
        <div class="home-column" style="min-width: 300px; margin: 0 0; gap: 1rem">
            <a href="/create">
                <div align=center class="button lesser-button">
                    <p style="font-size: 1.1rem;">Create New Sample</p>
                </div>
            </a>
            <a href="/tracker">
                <div align=center class="button lesser-button">
                    <p style="font-size: 1.1rem;">Sample Tracker</p>
                </div>
            </a>
            <a href="/logout">
                <div align=center class="button">
                    <p style="font-size: 1.1rem;">Log Out</p>
                </div>
            </a>
        </div>
    </div>
    </div>
    <footer>
        <div>alpha ver. for development only</div>
        <div align="right"><a href="https://github.com/PioApocalypse/AMORE" target="_blank">Star me on GitHub</a></div>
    </footer>

    <!-- Javascript time -->
    <script>
        // function to remove a flash element
        function removeFlashMessage(flashElement) {
            flashElement.classList.add('fade-out');
            setTimeout(() => {
                flashElement.remove();
            }, 500); // Wait for the fade-out animation to complete
}

        // auto-close flash messages after 30 seconds
        document.addEventListener('DOMContentLoaded', function() {
            const flashMessages = document.querySelectorAll('.flash');
            const timeout_seconds = 30; // timeout duration stored - in seconds - in other variable
            flashMessages.forEach(flash => {
                const timebar = flash.querySelector('.timebar');
                const duration = timeout_seconds*1000; // in milliseconds

                // dynamic animation duration
                timebar.style.animationDuration = `${duration / 1000}s`;

                // close after timeout
                setTimeout(() => {
                    removeFlashMessage(flash);
                }, duration);
            });
        });

    </script>
</body>
</html>