<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new sample - AMORE for eLabFTW</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='flash.css') }}">
</head>
<body>
    <!-- Flask flash pop-ups -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        {% autoescape false %}
                            {{ message }}
                        {% endautoescape %}
                        <span class="close-btn" onclick="this.parentElement.remove()">×</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="home-grid">
        <!-- TITLE -->
        <div class="home-column">
            <div class="title-box">
                <h1>AMORE for eLabFTW</h1>
                <p align="center">Autonomous Management of Outputs<br>for Research Efficiency</p>
            </div>
            <div class="form-container" style="min-width: 500px;">
                <form method="post">
                    <h2>Login with API key</h2>
                    <div class="form-column">
                        <div class="form-group">
                            <label for="title"></label>
                            <input type="password" id="api_key" name="api_key" placeholder="Paste here your personal API key" required>
                        </div>
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <p>alpha ver. for development only</p>
    </footer>

    <!-- Javascript time -->
    <script>
        // function to remove a flash element
        function removeFlashMessage(flashElement) {
            flashElement.classList.add('fade-out');
            setTimeout(() => {
                flashElement.remove();
            }, 500); // Wait for the fade-out animation to complete
}

        // auto-close flash messages after 30 seconds
        document.addEventListener('DOMContentLoaded', function() {
            const flashMessages = document.querySelectorAll('.flash');
            const timeout_seconds = 30; // timeout duration stored - in seconds - in other variable
            flashMessages.forEach(flash => {
                const timebar = flash.querySelector('.timebar');
                const duration = timeout_seconds*1000; // in milliseconds

                // dynamic animation duration
                timebar.style.animationDuration = `${duration / 1000}s`;

                // close after timeout
                setTimeout(() => {
                    removeFlashMessage(flash);
                }, duration);
            });
        });

    </script>
</body>
</html>