* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Titillium Web, Cambria, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

a {
  text-decoration: none;
}

a.flash-button {
  color: #f4f4f4;
  font-weight: bold;
  border: 1px solid #f4f4f4;
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
  margin: 0 0.3rem;
}

.home-grid {
  display: flex;
  align-items: center;
}

.home-column {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* gap between groups */
  margin: 0 1rem;
}

.title-box {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* two columns of 1fr width */
  gap: 2rem; /* gap between columns */
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap between groups */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #4e1d1d;
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

label,
.label {
  display: block;
  /* margin-bottom: 0.5rem; /* deactivated to save vertical space */
  color: #555;
}

.label {
  font-size: smaller;
  margin-top: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 350px;
  font-family: Titillium Web, Cambria, sans-serif;
}

button,
.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lesser-button {
  background-color: #ffe6c6 !important;
  color: #4e1d1d !important;
}

/* 
  Class to wipe out entirely after every button is effective.
  Only to use on test buttons.
  Inactive buttons:
    - login.html: positions
*/
.inactive-button {
  background-color: #999 !important;
  color: #fff !important;
  cursor: default !important;
}

button:hover,
.button:hover {
  background-color: #0056b3;
}

.lesser-button:hover {
  background-color: #ffd6a1 !important;
  color: #4e1d1d !important;
}

.red {
  font-weight: bolder;
  color: red;
  font-size: 110%;
}

footer {
  position: fixed; /* Fissa il footer in basso */
  display: table;
  /* justify-content: center; */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0.2rem 0;
  font-size: 0.8rem;
  grid-template-columns: 1fr 1fr;
}

footer div {
  display: table-cell;
  flex-direction: column;
  margin: 0;
  padding: 0 1rem;
  font-weight: bold;
  color: #f4f4f4;
}

footer a {
  color: #f4f4f4;
}
